<form [formGroup]="form">
  <div class="form">
    <label for="donna">Donner</label>
    <input type="text" id="donna" formControlName="donna">
    <p
    class="validation-error"
    *ngIf="form.get('donna').dirty && form.get('donna').hasError('required')">
      Donner er påkrevd.
    </p>
    <app-form-control-debugger [control]="form.get('donna')"></app-form-control-debugger>


    <label for="lotta">Lottis</label>
    <app-speciale id="lotta" formControlName="lotta"></app-speciale>
    <p
    class="validation-error"
    *ngIf="form.get('lotta').dirty && form.get('lotta').hasError('required')">
      Lottis må man ha.
    </p>
    <app-form-control-debugger [control]="form.get('lotta')"></app-form-control-debugger>

  </div>
  <button type="submit">Save</button>
  <button type="button" (click)="disableAll()">Disable all</button>
  <button type="button" (click)="enableAll()">Enable all</button>
</form>
